.navbar {
  background-color: #1b1b2f;
}
.jumbotron {
  padding-top: 5rem;
  background-color: #364a54a5;
}

#project {
  background-color: #364a54a5;
}

section {
  padding-top: 5rem;
}

h1 {
  font-family: "Kaushan Script", cursive;
}

footer {
  background-color: #1b1b2f;
}
